Options +FollowSymlinks
RewriteEngine On


# untuk backend
RewriteCond %{REQUEST_URI} ^/(admin)
RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
RewriteRule ^admin/js/(.*)$ backend/web/js/$1 [L]
RewriteRule ^admin/fonts/(.*)$ backend/web/fonts/$1 [L]
RewriteRule ^admin/images/(.*)$ backend/web/images/$1 [L]
RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
# ========Jika tidak memenuhi kondisi di atas, maka arahkan ke index.php======== #
RewriteCond %{REQUEST_URI} !^/admin/web/(css|assets|js|fonts|images)/
RewriteCond %{REQUEST_URI} ^/(admin)
RewriteRule ^.*$ backend/web/index.php [L]
# ============================================================================== #
# ============================================================================== #


# ============================================================================== #
RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]
RewriteRule ^less/(.*)$ frontend/web/less/$1 [L]
RewriteRule ^images/(.*)$ frontend/web/images/$1 [L]
RewriteRule ^upload/(.*)$ frontend/web/upload/$1 [L]
RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
RewriteRule ^fonts/(.*)$ frontend/web/fonts/$1 [L]
RewriteRule ^crudasset/(.*)$ frontend/web/crudasset/$1 [L]

# ========Jika tidak memenuhi kondisi di atas, maka arahkan ke index.php======== #
RewriteCond %{REQUEST_URI} !^/(backend|frontend)/web/(css|js|images|assets|upload|fonts|crudasset|img)/
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ frontend/web/index.php
# ============================================================================== #
